<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.overplay.test.feature.gyroscope.impl">

    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
</manifest>
